@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ItemId) //need to pass specific item's ItemId on to the controller so controller knows which item to update

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.DueDate)
  @Html.TextBoxFor(model => model.DueDate, new { @type = "date"})

  @Html.LabelFor(model => model.Completed)
  @Html.CheckBoxFor(model => model.Completed)

  @Html.Label("Select category")
  @Html.DropDownList("CategoryId")@*, new List<SelectListItem>*@
    @* {
      new SelectListItem { Text = "Deactive", Value = "False", Selected = true},
      new SelectListItem { Text = "Active", Value = "True" }
    }) *@

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>