@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ItemId) //need to pass specific item's ItemId on to the controller so controller knows which item to update

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.Label("Select category")
  @Html.DropDownList("CategoryId") //helper method takes Category info from ViewBag & displays to user as a dropdown menu

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>