@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@model List<ToDoList.Models.Item>;

<h1>Items</h1>

@if (@Model.Count == 0)
{
  <h3>No items have been added yet!</h3>
}

@foreach (Item item in Model)
{
  @* @if (@Model.Completed == true) {
    //create a way to separate completed & not completed. Change completed text
  } *@
  <li>@Html.ActionLink($"{item.Description} | {item.DueDate.ToString("dd/M/yyyy")}", "Details", new { id = item.ItemId }) | @Html.LabelFor(model => item.Completed) @Html.CheckBoxFor(model => item.Completed)</li>
}

<p>@Html.ActionLink("Add new item", "Create")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>